.movies-nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #454545;
    color: #fafafa;
    height: 70px;
    padding: 20px;
    margin: 0;
}
.movies-nav input
{
    border: none;
    background-color: #565656;
    outline: none;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    color: #fafafa;
    padding: 10px;
}
.movies-nav span
{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}
.movies-nav img
{
    cursor: pointer;
}
.icon
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.icon li 
{
    padding-right: 20px;
    cursor: pointer;
    color: #dfdddd;
    font-size: 20px;
}
.icon li:hover
{
color: #0d6efd;
text-shadow: 2px 2px 5px #000;
}